@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");

@theme {
  --color-rosa-text: #490829;
  --color-rosa-claro: #ffeef2;
  --color-rosa-choque: #b03a61;
  --color-rosa-pastel: #ffc7db;
  --color-rosa-medio: #ff92c2;
  --font-logo: Fleur De Leah, cursive;
  --font-menu: "Montserrat", sans-serif;
}
